# Python
resume-analyzer/venv/
resume-analyzer/__pycache__/
resume-analyzer/*.pyc
resume-analyzer/.env

# Node
resume-analyzer/node_modules/
prephire-frontend/node_modules/
prephire-frontend/.env

# Mac
.DS_Store
